{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle:layout.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}

{% block header %}
  <div class="container">
    <div id="header" class="jumbotron">
        <h1>Ma plateforme d'accueil</h1>
        <p>
            Ceci est l'accueil du projet est propulsé par Symfony, et construit grâce au MOOC OpenClassrooms et SensioLabs.
        </p>

    </div>
    {% endblock %}

{% block body %}

    <h2>Page d'accueil de notre site</h2>

    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

    {# Pour afficher les dernières annonces, on réutilise le contrôleur menu du PlatformBundle #}


{% endblock %}