tfe_user_homepage:
    path:     /
    defaults: { _controller: TfeUserBundle:Default:index }

tfe_user_delete:
    path:     /delete/{id}
    defaults: { _controller: TfeUserBundle:Default:deleteUser }
    requirements:
        id: \d+


