{% extends "TfePlatformSocialeBundle::index.html.twig" %}

{% block body %}
    <h2>Contacter les administrateurs du site :</h2>

     <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Begon</td>
                <td>Maxence</td>
                <td>maxence.begon@hotmail.com</td>
            </tr>
        <tr>
            <td>Messina</td>
            <td>Dorian</td>
            <td>dody.messina@hotmail.com</td>
        </tr>
        </tbody>

{% endblock %}

{% block footer %}
{% endblock %}